<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TimeManagerEntities" connectionString="metadata=res://*/data.Activity.Activity.csdl|res://*/data.Activity.Activity.ssdl|res://*/data.Activity.Activity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-59AMNOB\PROJECTS;initial catalog=TimeManager;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TimeManagerEntities1" connectionString="metadata=res://*/data.Category.Category.csdl|res://*/data.Category.Category.ssdl|res://*/data.Category.Category.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-59AMNOB\PROJECTS;initial catalog=TimeManager;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>